@media (min-width:920px){
    .first, .second, .third{
        float: left;
        
    }
    
    .first{
        
        width:33%;
        padding: 5px;
        box-sizing: border-box;
        
    }
    .second{
        
        width:33%;
        padding: 5px;
        box-sizing: border-box;
    }
    .third{
       
        width:33%;
        padding: 5px;
        box-sizing: border-box;
    }
    
}

    h1{
        text-align: center;
        margin-top: 100px;
    }

    section{
        width: 100%;
        margin-top: 150px;
    }
    .container{
        border: 3px solid black;
        background-color: rgb(150, 144, 144) ;
        width:90%;
        height: 90%;
        margin-right: auto;
        margin-left: auto;
        padding: 3px;
        font-size: 1.1rem;

    }
    h3{
        margin-left: 75%;
        box-sizing: border-box;
        
        margin-top: 0px;
        line-height: 2rem;
        text-align: center;
    }

    #one{
        background-color: rgb(224, 160, 86);
    }

    #two{
        background-color: rgb(241, 143, 143);
    }

    #three{
        background-color: rgb(240, 211, 116);
    }

    @media (min-width:768px) and (max-width:991px){
        .first, .second, .third{
            float: left;
            
        }
        
        .first{
            
            width:50%;
            padding: 5px;
            box-sizing: border-box;
            
        }
        .second{
            
            width:50%;
            padding: 5px;
            box-sizing: border-box;
        }
        .third{
           
            width:100%;
            padding: 5px;
            box-sizing: border-box;
        }
        
    }
    
        h1{
            text-align: center;
            margin-top: 100px;
        }
    
        section{
            width: 100%;
            margin-top: 150px;
        }
        .container{
            border: 3px solid black;
            background-color: rgb(150, 144, 144) ;
            width:90%;
            height: 90%;
            margin-right: auto;
            margin-left: auto;
            padding: 3px;
            font-size: 1.1rem;
    
        }
        h3{
            margin-left: 75%;
            box-sizing: border-box;
            
            margin-top: 0px;
            line-height: 2rem;
            text-align: center;
        }
    
        #one{
            background-color: rgb(224, 160, 86);
        }
    
        #two{
            background-color: rgb(241, 143, 143);
        }
    
        #three{
            background-color: rgb(240, 211, 116);
        }

        @media (min-width:767px) and (max-width:991px){
            .first, .second, .third{
                float: left;
                
            }
            
            .first{
                
                width:100%;
                padding: 5px;
                box-sizing: border-box;
                
            }
            .second{
                
                width:100%;
                padding: 5px;
                box-sizing: border-box;
            }
            .third{
               
                width:100%;
                padding: 5px;
                box-sizing: border-box;
            }
            
        }
        
            h1{
                text-align: center;
                margin-top: 100px;
            }
        
            section{
                width: 100%;
                margin-top: 150px;
            }
            .container{
                border: 3px solid black;
                background-color: rgb(150, 144, 144) ;
                width:90%;
                height: 90%;
                margin-right: auto;
                margin-left: auto;
                padding: 3px;
                font-size: 1.1rem;
        
            }
            h3{
                margin-left: 75%;
                box-sizing: border-box;
                
                margin-top: 0px;
                line-height: 2rem;
                text-align: center;
            }
        
            #one{
                background-color: rgb(224, 160, 86);
            }
        
            #two{
                background-color: rgb(241, 143, 143);
            }
        
            #three{
                background-color: rgb(240, 211, 116);
            }
